<div class="main">
    <div class="quiz">
    <div class="quiz_title">
        <h2>Venasoft Quiz Application</h2>   
    </div>
    <div    class="quiz-tex1">
    <h4>17.CSSda elementning fon rangini o'zgartirish uchun qaysi xususiyat ishlatiladi? </h4>
    </div>
    <div  class="quizz_test">
        <div class="quiz-1"><mat-radio-button value="2"> </mat-radio-button><h5><strong>a</strong>:background-color </h5></div>
        <div class="quiz-2"> <mat-radio-button value="2"></mat-radio-button> <h5><strong>b</strong>:color</h5> </div>
        <div class="quiz-2"> <mat-radio-button value="2"></mat-radio-button> <h5><strong>c</strong>:font-color</h5> </div>
        <div class="quiz-2"> <mat-radio-button value="2"></mat-radio-button> <h5><strong>d</strong>:bg-color</h5> </div>
    </div>
    <div class="quiz_end_content">
        <h3>17 of 50 Questions CSS</h3>
        <button (click)="goQuiz()" >Next Que</button>
    </div>
    </div>
    </div>


