<h1 mat-dialog-title>Place your photo </h1>
<div mat-dialog-content>
<image-cropper [imageFile]="data.image"  [maintainAspectRatio]="true" [aspectRatio]="data.width /data.height"
(imageCropped)="ImageCropped($event)"  [resizeToHeight]="data.height" [resizeToWidth]="data.width">

</image-cropper>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="result()">Done</button>
</div>


