<div class="main">
    <div class="quiz">
    <div class="quiz_title">
        <h2>Venasoft Quiz Application</h2>   
    </div>
    <div    class="quiz-tex1">
    <h4>6.{{met}} tegining vazifasi nma</h4>
    </div>
    <div  class="quizz_test">
        <div class="quiz-1">
            <mat-radio-button value="2"> </mat-radio-button><h5><strong>a</strong>: Hujjatni qidiruv tizimlari uchun optimallashtiradi</h5>
           
    
        </div>
        <div class="quiz-2"> <mat-radio-button value="2"></mat-radio-button> <h5><strong>b</strong>: Hujjatning rang palitrasini o‘rnatadi </h5> </div>
        <div class="quiz-2"> <mat-radio-button value="2"></mat-radio-button> <h5><strong>c</strong>: Hujjatning kodlash tizimini belgilaydi</h5> </div>
        <div class="quiz-2"> <mat-radio-button value="2"></mat-radio-button> <h5><strong>d</strong>: Hujjatda qo‘llaniladigan fontni belgilaydi</h5> </div>
    </div>
    <div class="quiz_end_content">
        <h3>6 of 50 Questions HTML</h3>
        <button (click)="goQuiz()" >Next Que</button>
    </div>
    </div>
    </div>
