/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font-neon-text-shadow: 0 0 10px rgba(18, 247, 255, 0.3), 0 0 20px rgba(18, 247, 255, 0.3), 0 0 30px rgba(18, 247, 255, 0.3), 0 0 40px rgba(18, 247, 255, 0.3), 0 0 70px rgba(18, 247, 255, 0.3), 0 0 80px rgba(18, 247, 255, 0.3), 0 0 100px rgba(18, 247, 255, 0.3), 0 0 150px rgba(18, 247, 255, 0.3);
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --font-family: "Roboto", sans-serif;
    --light-brand-gray: #b3b3b3;
    --light-brand-orange: #ffa116;
    --light-brand-black: #000;
    --light-brand-white: #fff;
    --light-special-rose: #ff6863;
    --light-special-sunny: #f1bc00;
    --light-special-kiwi: #0de84b;
    --light-special-skyler: #1ba3ff;
    --light-special-lavender: #7731ff;
    --light-yellow-10: #fffce6;
    --light-yellow-20: #fff1a3;
    --light-yellow-30: #ffe77a;
    --light-yellow-40: #ffd952;
    --light-yellow-50: #ffc929;
    --light-yellow-60: #ffb800;
    --light-yellow-70: #edab00;
    --light-yellow-80: #e19500;
    --light-yellow-90: #c97b00;
    --light-yellow-100: #b46e00;
    --light-green-10: #e8ffe9;
    --light-green-20: #aff0b4;
    --light-green-30: #7be187;
    --light-green-40: #4dd161;
    --light-green-50: #24c241;
    --light-green-60: #01b328;
    --light-green-70: #019927;
    --light-green-80: #008024;
    --light-green-90: #006620;
    --light-green-100: #004d1b;
    --light-teal-10: #e8fffb;
    --light-teal-20: #bcf6ee;
    --light-teal-30: #92ede4;
    --light-teal-40: #47dad5;
    --light-teal-50: #26d1d1;
    --light-teal-60: #1cb8b8;
    --light-teal-70: #10a1a1;
    --light-teal-80: #0e7b7b;
    --light-teal-90: #106969;
    --light-teal-100: #0a5656;
    --light-blue-10: #e8f7ff;
    --light-blue-20: #bae4ff;
    --light-blue-30: #8bcfff;
    --light-blue-40: #5db6ff;
    --light-blue-50: #2e9aff;
    --light-blue-60: #007aff;
    --light-blue-70: #0069e8;
    --light-blue-80: #005bda;
    --light-blue-90: #004ebb;
    --light-blue-100: #003d9f;
    --light-red-10: #ffece8;
    --light-red-20: #fdcbc3;
    --light-red-30: #fba99f;
    --light-red-40: #fa847c;
    --light-red-50: #f85e59;
    --light-red-60: #f63636;
    --light-red-70: #cc2227;
    --light-red-80: #a1121b;
    --light-red-90: #770712;
    --light-red-100: #4d000a;
    --light-purple-10: #fbe8ff;
    --light-purple-20: #efc7f8;
    --light-purple-30: #e1a8f2;
    --light-purple-40: #d18aeb;
    --light-purple-50: #c16de5;
    --light-purple-60: #af52de;
    --light-purple-70: #8833ba;
    --light-purple-80: #6f22a1;
    --light-purple-90: #530d89;
    --light-purple-100: #440a71;
    --light-magenta-10: #ffe8ef;
    --light-magenta-20: #ffcadf;
    --light-magenta-30: #ffbad8;
    --light-magenta-40: #ff9ccd;
    --light-magenta-50: #ff70b0;
    --light-magenta-60: #f74397;
    --light-magenta-70: #de2c7f;
    --light-magenta-80: #bf0659;
    --light-magenta-90: #860246;
    --light-magenta-100: #68003e;
    --light-gray-10: #f5f5f5;
    --light-gray-20: #f0f0f0;
    --light-gray-30: #dfdfdf;
    --light-gray-40: #b7b7b7;
    --light-gray-50: #949494;
    --light-gray-60: #777;
    --light-gray-70: #525252;
    --light-gray-80: #2a2a2a;
    --light-gray-90: #212121;
    --light-gray-100: #1a1a1a;
    --light-gray-white: #fff;
    --dark-special-sunny: #ffdb20;
    --dark-special-rose: #ff6863;
    --dark-special-lavender: #9862ff;
    --dark-special-skyler: #52b9ff;
    --dark-special-kiwi: #4bf17b;
    --dark-brand-white: #fff;
    --dark-brand-gray: #8d8d8d;
    --dark-brand-orange: #ffa116;
    --dark-brand-black: #000;
    --dark-green-10: #004d1b;
    --dark-green-20: #016620;
    --dark-green-30: #078029;
    --dark-green-40: #109932;
    --dark-green-50: #1cb33d;
    --dark-green-60: #28c244;
    --dark-green-70: #51d164;
    --dark-green-80: #7fe18b;
    --dark-green-90: #b3f0b8;
    --dark-green-100: #d8ffda;
    --dark-blue-10: #002a78;
    --dark-blue-20: #0144b1;
    --dark-blue-30: #0d59c3;
    --dark-blue-40: #0d71ec;
    --dark-blue-50: #1283ff;
    --dark-blue-60: #1a90ff;
    --dark-blue-70: #57b3ff;
    --dark-blue-80: #87cdff;
    --dark-blue-90: #b8e3ff;
    --dark-blue-100: #c7ebff;
    --dark-yellow-10: #754501;
    --dark-yellow-20: #996004;
    --dark-yellow-30: #c17d00;
    --dark-yellow-40: #e59f06;
    --dark-yellow-50: #f2b411;
    --dark-yellow-60: #fac31d;
    --dark-yellow-70: #ffdb57;
    --dark-yellow-80: #ffe055;
    --dark-yellow-90: #ffec7b;
    --dark-yellow-100: #fff096;
    --dark-magenta-10: #4d002e;
    --dark-magenta-20: #770747;
    --dark-magenta-30: #a21962;
    --dark-magenta-40: #cc317f;
    --dark-magenta-50: #f7529f;
    --dark-magenta-60: #f969a7;
    --dark-magenta-70: #ff96c2;
    --dark-magenta-80: #fcacc9;
    --dark-magenta-90: #fdcdde;
    --dark-magenta-100: #ffdfea;
    --dark-teal-10: #00424d;
    --dark-teal-20: #035d67;
    --dark-teal-30: #0f7a82;
    --dark-teal-40: #0f9da3;
    --dark-teal-50: #32b8b8;
    --dark-teal-60: #46c6c2;
    --dark-teal-70: #68d4cd;
    --dark-teal-80: #90e3db;
    --dark-teal-90: #baf1e9;
    --dark-teal-100: #ccfff6;
    --dark-purple-10: #29004d;
    --dark-purple-20: #440971;
    --dark-purple-30: #651c95;
    --dark-purple-40: #8a38ba;
    --dark-purple-50: #b25bde;
    --dark-purple-60: #c477e5;
    --dark-purple-70: #e1b0ef;
    --dark-purple-80: #e1b0ef;
    --dark-purple-90: #f0cbf8;
    --dark-purple-100: #f8dbff;
    --dark-red-10: #4d000a;
    --dark-red-20: #770611;
    --dark-red-30: #a1151e;
    --dark-red-40: #cc2b2f;
    --dark-red-50: #f64747;
    --dark-red-60: #f8615c;
    --dark-red-70: #fa877f;
    --dark-red-80: #fbada3;
    --dark-red-90: #fdcfc8;
    --dark-red-100: #ffc5c4;
    --dark-gray-10: #1a1a1a;
    --dark-gray-20: #262626;
    --dark-gray-30: #323232;
    --dark-gray-40: #3a3a3a;
    --dark-gray-50: #777;
    --dark-gray-60: #949494;
    --dark-gray-70: #b7b7b7;
    --dark-gray-80: #dfdfdf;
    --dark-gray-90: #e8e8e8;
    --dark-gray-100: #f5f5f5;
    --dark-gray-black: #0f0f0f;
    --opacity-white-10: hsla(0,0%,100%,.06);
    --opacity-white-20: hsla(0,0%,100%,.08);
    --opacity-white-30: hsla(0,0%,100%,.1);
    --opacity-white-40: hsla(0,0%,100%,.14);
    --opacity-white-50: hsla(0,0%,100%,.22);
    --opacity-white-60: hsla(0,0%,100%,.3);
    --opacity-white-70: hsla(0,0%,100%,.4);
    --opacity-white-80: hsla(0,0%,100%,.6);
    --opacity-white-90: hsla(0,0%,100%,.8);
    --opacity-white-100: #fff;
    --opacity-black-10: rgba(0,0,0,.02);
    --opacity-black-20: rgba(0,0,0,.04);
    --opacity-black-30: rgba(0,0,0,.06);
    --opacity-black-40: rgba(0,0,0,.08);
    --opacity-black-50: rgba(0,0,0,.13);
    --opacity-black-60: rgba(0,0,0,.21);
    --opacity-black-70: rgba(0,0,0,.34);
    --opacity-black-80: rgba(0,0,0,.55);
    --opacity-black-90: rgba(0,0,0,.89);
    --opacity-black-100: #000;
    --pure-white: #fff;
    --pure-black: #000;
    --light-shadow-layer-1: 0px 0px 1px 0px rgba(0,0,0,.1), 0px 0.5px 5px 0px rgba(0,0,0,.1);
    --light-shadow-layer-1-hover: 0px 0px 1px 0px rgba(0,0,0,.1), 0px 4px 8px 0px rgba(0,0,0,.2);
    --light-shadow-layer-2: 0px 0px 1px 0px rgba(0,0,0,.2), 0px 0px 1px 0px rgba(0,0,0,.15), 0px 7px 22px 0px rgba(0,0,0,.25);
    --light-shadow-layer-3: 0px 0px 1px 0px rgba(0,0,0,.3), 0px 0px 2px 0px rgba(0,0,0,.05), 0px 38px 90px 0px rgba(0,0,0,.25);
    --dark-shadow-layer-1: 0px 0px 1px 0px rgba(0,0,0,.1), 0px 0.5px 5px 0px rgba(0,0,0,.1);
    --dark-shadow-layer-1-hover: 0px 0px 1px 0px rgba(0,0,0,.1), 0px 4px 8px 0px rgba(0,0,0,.2);
    --dark-shadow-layer-2: 0px 0px 1px 0px rgba(0,0,0,.2), 0px 0px 1px 0px rgba(0,0,0,.15), 0px 7px 22px 0px rgba(0,0,0,.25);
    --dark-shadow-layer-3: 0px 0px 1px 0px rgba(0,0,0,.3), 0px 0px 2px 0px rgba(0,0,0,.05), 0px 38px 90px 0px rgba(0,0,0,.25);
    --fixed-black: var(--pure-black);
    --fixed-white: var(--pure-white);
    --yellow-10: var(--light-yellow-10);
    --yellow-20: var(--light-yellow-20);
    --yellow-40: var(--light-yellow-40);
    --yellow-60: var(--light-yellow-60);
    --yellow-80: var(--light-yellow-80);
    --yellow-100: var(--light-yellow-100);
    --fill-quaternary: var(--opacity-black-10);
    --fill-tertiary: var(--opacity-black-20);
    --fill-primary: var(--opacity-black-40);
    --fill-secondary: var(--opacity-black-30);
    --fill-pure: var(--pure-white);
    --green-10: var(--light-green-10);
    --green-20: var(--light-green-20);
    --green-40: var(--light-green-40);
    --green-60: var(--light-green-60);
    --green-80: var(--light-green-80);
    --green-100: var(--light-green-100);
    --border-quaternary: var(--opacity-black-30);
    --border-tertiary: var(--opacity-black-40);
    --border-secondary: var(--opacity-black-50);
    --border-primary: var(--opacity-black-60);
    --magenta-10: var(--light-magenta-10);
    --magenta-20: var(--light-magenta-20);
    --magenta-40: var(--light-magenta-40);
    --magenta-60: var(--light-magenta-60);
    --magenta-80: var(--light-magenta-80);
    --magenta-100: var(--light-magenta-100);
    --gray-10: var(--light-gray-10);
    --gray-20: var(--light-gray-20);
    --gray-40: var(--light-gray-40);
    --gray-60: var(--light-gray-60);
    --gray-80: var(--light-gray-80);
    --gray-100: var(--light-gray-100);
    --difficulty-medium: var(--light-yellow-60);
    --difficulty-easy: var(--light-teal-60);
    --difficulty-hard: var(--light-red-60);
    --text-reverse: var(--pure-white);
    --text-secondary: var(--opacity-black-80);
    --text-tertiary: var(--opacity-black-70);
    --text-quaternary: var(--opacity-black-60);
    --text-primary: var(--light-gray-100);
    --message-danger: var(--light-red-60);
    --message-warning: var(--light-yellow-60);
    --message-primary: var(--light-blue-60);
    --message-success: var(--light-green-60);
    --teal-10: var(--light-teal-10);
    --teal-20: var(--light-teal-20);
    --teal-40: var(--light-teal-40);
    --teal-60: var(--light-teal-60);
    --teal-80: var(--light-teal-80);
    --teal-100: var(--light-teal-100);
    --blue-10: var(--light-blue-10);
    --blue-20: var(--light-blue-20);
    --blue-40: var(--light-blue-40);
    --blue-60: var(--light-blue-60);
    --blue-80: var(--light-blue-80);
    --blue-100: var(--light-blue-100);
    --purple-10: var(--light-purple-10);
    --purple-20: var(--light-purple-20);
    --purple-40: var(--light-purple-40);
    --purple-60: var(--light-purple-60);
    --purple-80: var(--light-purple-80);
    --purple-100: var(--light-purple-100);
    --brand-orange: var(--dark-brand-orange);
    --brand-gray: var(--dark-brand-gray);
    --brand-logo: var(--light-brand-black);
    --layer-bg-pure: var(--light-gray-white);
    --layer-bg-gray: var(--gray-20);
    --layer-02: var(--pure-white);
    --layer-01: var(--pure-white);
    --layer-03: var(--pure-white);
    --red-10: var(--light-red-10);
    --red-20: var(--light-red-20);
    --red-40: var(--light-red-40);
    --red-60: var(--light-red-60);
    --red-80: var(--light-red-80);
    --red-100: var(--light-red-100);
    --special-rose: var(--light-special-rose);
    --special-sunny: var(--light-special-sunny);
    --special-kiwi: var(--light-special-kiwi);
    --special-skyler: var(--light-special-skyler);
    --special-lavender: var(--light-special-lavender);
    --shadow-layer-1: var(--light-shadow-layer-1);
    --shadow-layer-1-hover: var(--light-shadow-layer-1-hover);
    --shadow-layer-2: var(--light-shadow-layer-2);
    --shadow-layer-3: var(--light-shadow-layer-3);
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
