<div class="main">
    <div class="form_container">
        <form>
            <div class="form_title">
                <h2>Profile</h2>
                <p>This information will be displayed publicly so be careful what you share.</p>
            </div>
            <div class="form_input">
                <h2 for="">Username</h2>
                <div class="input_content">
                    <p>workcation.com/</p> <input type="text">
                </div>
                <div class="textare_content">
                    <h2>About</h2>
                    <textarea name="" id=""></textarea>
                </div>
                <div class="wirte_content">
                    <p>Write a few sentences about yourself.</p>
                </div>
                <div class="image_content">
                    <h2>Photo</h2>
                    <div class="image_page">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                            aria-hidden="true" class="np rs axx">
                            <path fill-rule="evenodd"
                                d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <button>Change</button>
                    </div>
                    <div class="covers_title">
                        <h2>Cover Photo</h2>
                    </div>
                    <div class="images_conten">
                        <div class="app-img">
                            <app-cropper-img [width]="80" [height]="80"></app-cropper-img>
                        </div>

                    </div>
                    <div class="hr_content"></div>
                    <div class="person_title">
                        <h2>Personal Information</h2>
                    </div>
                    <div class="texts_use">
                        <p>Use a permanent address where you can receive mail.</p>
                    </div>
                    <div>

                    </div>
                    <div class="pages_input">
                        <div class="first_page">
                            <h2>First Name</h2>
                            <input type="text">
                        </div>
                        <div class="last_page">
                            <h2>Last Name</h2>
                            <input type="text">
                        </div>
                    </div>
                    <div class="email_pages">
                        <h2>Email address</h2>
                        <input type="text">
                    </div>
                    <div class="coutry_page">
                        <h2>Country</h2>
                        <select>
                            <option value="">Turkiye</option>
                            <option value="">Germany</option>
                            <option value="">Russia</option>
                            <option value="">Mexico</option>
                            <option value="">Uzbekistan</option>
                        </select>
                    </div>
                    <div class="stret_adress">
                        <h2>Street address</h2>
                        <input type="text">
                    </div>
                    <div class="pages_input">
                        <div class="city">
                            <h2>City</h2>
                            <input type="text">
                        </div>
                        <div class="state">
                            <h2>State / Province</h2>
                            <input type="text">
                        </div>
                        <br class="br_1">
                        <div class="zip">
                            <h2>ZIP / Postal code</h2>
                            <input type="text">
                        </div>
                    </div>
                    <div class="hr_content"></div>
                </div>
                <div class="notif_textss">
                    <h2>Notifications</h2>
                    <p>We'll always let you know about important changes, but you pick what else you want to hear about.
                    </p>
                </div>
                <div class="by_email">
                    <h2>By Email</h2>
                </div>
                <div class="by_comments">
                    <div>
                        <input type="checkbox">
                    </div>
                    <div class="comments">
                        <h2>Comments</h2>
                        <p>Get notified when someones posts a comment on a posting.</p>
                    </div>
                </div>
                <div class="by_comments">
                    <div>
                        <input type="checkbox">
                    </div>
                    <div class="comments">
                        <h2>Candidates</h2>
                        <p>Get notified when a candidate applies for a job.</p>
                    </div>
                </div>
                <div class="by_comments">
                    <div>
                        <input type="checkbox">
                    </div>
                    <div class="comments">
                        <h2>Offers</h2>
                        <p>Get notified when a candidate accepts or rejects an offer.</p>
                    </div>
                </div>  
                <div class="notification">
                    <h2>Push Notifications</h2>
                    <p>These are delivered via SMS to your mobile phone.</p>
                </div>
                <div class="radio_button">
                    <div>
                        <mat-radio-button value="1"></mat-radio-button>
                    </div>
                    <div> <h2>Everything</h2></div>
                    
                </div>
                <div class="radio_button">
                    <div>
                        <mat-radio-button value="1"></mat-radio-button>
                    </div>
                    <div> <h2>Same as email</h2></div>
                    
                </div>  <div class="radio_button">
                    <div>
                        <mat-radio-button value="1"></mat-radio-button>
                    </div>
                    <div> <h2>No push notifications</h2></div>
                </div>
                <div class="hr_content"></div>
                <div class="content_button">
                    <!-- <button mat-button>Cancel</button>    --><button (click)="OnClick()" mat-raised-button color="primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>