.main {
	padding: 10px;
	width: 100%;
	height: 350vh;
	--tw-bg-opacity: 1;
	background-color: rgb(17 24 39 / var(--tw-bg-opacity));
	display: flex;
	justify-content: center;
	align-items: center;
}

.form_container {
	display: flex;
	justify-content: center;
	align-items: center;

}

.form_title h2 {
	line-height: 1.75rem;
	font-weight: 600;
	font-family: sans-serif;
	font-size: 1.2rem;
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
}

.form_title p {
	--tw-text-opacity: 1;
	color: rgb(156 163 175 / var(--tw-text-opacity));
	line-height: 1.5rem;
	font-size: 0.975rem;
	margin-top: -8px;
}

.form_input {
	margin-top: 60px;
}

.form_input h2 {
	line-height: 1.75rem;
	font-weight: 600;
	font-family: sans-serif;
	font-size: 1.2rem;
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
}

.input_content {
	background-color: rgb(17 24 39 / var(--tw-bg-opacity));
	width: 450px;
	// outline-color: rgb(59 139 246 / 0.5);
	height: 40px;
	display: flex;
	align-items: center;
	border: 1px solid #2C3343;
	border-radius: 8px;
}

.input_content p {
	margin-top: 8px;
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
	line-height: 1.5rem;
	font-size: 0.95rem;
	margin-left: 6px;

}

.input_content input {
	background: transparent;
	outline: none;
	border: none;
	color: #fff;
	line-height: 1.5rem;
	font-size: 0.95rem;

}

.textare_content {
	margin-top: 40px;
}

.textare_content h2 {
	line-height: 1.75rem;
	font-weight: 600;
	font-family: sans-serif;
	font-size: 1.2rem;
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
}

.textare_content textarea {
	// background-color: rgb(59 130 246 / 0.5);
	background-color: rgb(17 24 39 / var(--tw-bg-opacity));
	;
	outline: rgb(59 139 246 / 0.5);
	width: 590px;
	padding: 20px;
	height: 100px;
	display: flex;
	align-items: center;
	border: 1px solid #2C3343;
	border-radius: 8px;
	color: #fff;
}

.wirte_content p {
	--tw-text-opacity: 1;
	color: rgb(156 163 175 / var(--tw-text-opacity));
	line-height: 1.5rem;
	font-size: 0.975rem;
	margin-top: 10px;
	font-variation-settings: normal;
	-webkit-tap-highlight-color: transparent;
}

.image_content {
	margin-top: 40px;
}

.image_content h2 {
	line-height: 1.75rem;
	font-weight: 600;
	font-family: sans-serif;
	font-size: 1.2rem;
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
}

.image_page {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 20px;
}

.image_page svg {
	width: 80px;
	height: 80px;
	fill: #fff;
}

.image_page button {
	background-color: rgb(17 24 39 / var(--tw-bg-opacity));
	color: #fff;
	width: 100px;
	border-radius: 10px;
	height: 40px;
	border: none;
	padding: 10px;
	;
	border: 1px solid #2C3343;
	cursor: pointer;
}

.image_page button:hover {
	opacity: 0.3;
}

.covers_title {
	margin-top: 50px;
}

.images_conten {
	width: 620px;
	height: 150px;
	border: 2px dashed #2C3343;
}

.app-img {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hr_content {
	width: 620px;
	margin-top: 70px;

	border: 1px solid #2C3343;
}

.person_title {
	margin-top: 40px;
}

.texts_use p {
	--tw-text-opacity: 1;
	color: rgb(156 163 175 / var(--tw-text-opacity));
	line-height: 1.5rem;
	font-size: 0.975rem;
	margin-top: -8px;
}

.pages_input {
	display: flex;
	gap: 40px;
	margin-top: 30px;

}

.first_page input {
	background-color: rgb(17 24 39 / var(--tw-bg-opacity));
	width: 250px;
	height: 40px;
	outline: none;
	color: #fff;
	padding: 10px;
	align-items: center;
	border: 1px solid #2C3343;
	border-radius: 8px;
}

.last_page input {
	background-color: rgb(17 24 39 / var(--tw-bg-opacity));
	width: 250px;
	height: 40px;
	outline: none;
	color: #fff;
	padding: 10px;
	align-items: center;
	border: 1px solid #2C3343;
	border-radius: 8px;

}

.email_pages {
	margin-top: 30px;
}

.email_pages input {

	background-color: rgb(17 24 39 / var(--tw-bg-opacity));
	width: 380px;
	height: 40px;
	outline: none;
	color: #fff;
	padding: 10px;
	align-items: center;
	border: 1px solid #2C3343;
	border-radius: 8px;
}
.coutry_page {
	margin-top: 30px;
}
.coutry_page select {
	
	background-color: rgb(17 24 39 / var(--tw-bg-opacity));
	width: 350px;
	height: 40px;
	outline: none;
	color: #fff;
	padding: 10px;
	align-items: center;
	border: 1px solid #2C3343;
	border-radius: 8px;
}
.stret_adress {
	margin-top: 30px;
}
.stret_adress input {
	background-color: rgb(17 24 39 / var(--tw-bg-opacity));
	width: 550px;
	height: 40px;
	outline: none;
	color: #fff;
	padding: 10px;
	align-items: center;
	border: 1px solid #2C3343;
	border-radius: 8px;
}
.pages_input {
	display: flex;
	margin-top: 30px;
	gap: 30px;
}
.city input {
	background-color: rgb(17 24 39 / var(--tw-bg-opacity));
	width: 300px;
	height: 40px;
	outline: none;
	color: #fff;
	padding: 10px;
	align-items: center;
	border: 1px solid #2C3343;
	border-radius: 8px;
}
.state input {
	background-color: rgb(17 24 39 / var(--tw-bg-opacity));
	width: 300px;
	height: 40px;
	outline: none;
	color: #fff;
	padding: 10px;
	align-items: center;
	border: 1px solid #2C3343;
	border-radius: 8px;
}
.zip input {
	background-color: rgb(17 24 39 / var(--tw-bg-opacity));
	width: 300px;
	height: 40px;
	outline: none;
	color: #fff;
	padding: 10px;
	align-items: center;
	border: 1px solid #2C3343;
	border-radius: 8px;
}
.hr_content {
	width: 950px;
	height: 1px;
	border:1px solid #2C3343;
}
.notif_textss {
	margin-top:30px;
}
.notif_textss p {
	--tw-text-opacity: 1;
	color: rgb(156 163 175 / var(--tw-text-opacity));
	line-height: 1.5rem;
	font-size: 0.975rem;
	margin-top: -8px;
}
.by_email {
	margin-top: 30px;
}
.by_comments {
	display:flex;
	gap:20px;
	margin-top: 30px;
}
.comments p {
	--tw-text-opacity: 1;
	color: rgb(156 163 175 / var(--tw-text-opacity));
	line-height: 1.5rem;
	font-size: 0.975rem;
	margin-top: -8px;
}
.notification {
	margin-top:30px;
}
.notification h2 {
	line-height: 1.75rem;
	font-weight: 600;
	font-family: sans-serif;
	font-size: 1.2rem;
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
}
.notification p {
	--tw-text-opacity: 1;
	color: rgb(156 163 175 / var(--tw-text-opacity));
	line-height: 1.5rem;
	font-size: 0.975rem;
	margin-top: -8px;
}
.radio_button {
	display:flex;
	margin-top:30px;
	gap:20px;
}
.content_button {
	margin-top:20px;
	display:flex;
	justify-content: end;
	gap: 10px;
}
.content_button button {
	color:#fff;
}
.br_1 {
	display:none
}
// Responsive design 
@media only screen and (max-width:1280px){

		.main {
			width:100%;
			height:auto;
			padding: 10px;
		}
	
}
@media only screen and (max-width:999px){
	.main {
		width:100%;
		height:auto;
		padding: 10px;
	}
}

@media only screen and (max-width:940px){
	.hr_content{
		width: 560px;
	}
	.city input {

		width: 240px;
		
	}
	.state input {

		width: 240px;
		
	}
	.zip input {
	
		width: 240px;
		
	}
	.content_button {
		justify-content:center;
	}
}
@media only screen and (max-width:790px){
	.city input {

		width: 170px;
		
	}
	.state input {

		width: 170px;
		
	}
	.zip input {
	
		width: 170px;
		
	}
}
@media only screen and (max-width:630px){
	.images_conten {
		width: 460px;
	}
}
@media only screen and (max-width:590px){
	.textare_content textarea {
		width:460px
	}
	.city input {

		width: 150px;
		
	}
	.state input {

		width: 150px;
		
	}
	.zip input {
	
		width: 150px;
		
	}
	.hr_content {
		width: 400px;
	}
	.stret_adress input {
		width:400px;
	}
}
@media only screen and (max-width:540px){
	.pages_input {

	}
	.first_page input {
		
		width: 200px;
		
	}
	
	.last_page input {
		
		width: 200px;
		
	
	}
}
@media only screen and (max-width:552px){
	.pages_input {
		flex-direction: column;
	}
	.city input {

		width: 300px;
		
	}
	.state input {

		width: 300px;
		
	}
	.zip input {
	
		width: 300px;
		
	}
	.first_page input {
		
		width: 300px;
		
	}
	
	.last_page input {
		
		width: 300px;
		
	
	}
	.stret_adress input {
		width: 300px;
	}
	.input_content {
		width: 300px;
	}
	.email_pages input {
		width: 300px;
	}
	.coutry_page select {
		width:300px;
	}
}
@media only screen and (max-width:488px){
	.textare_content textarea {
		width:360px
	}
	.images_conten {
		width: 360px;
	}
	.hr_content {
		width: 100%;
	}
}
@media only screen and (max-width:350px){
	.images_conten {
		width: 320px;
	}
	.textare_content textarea {
		width:320px
	}
	.images_conten {
		width: 320px;
	}
	.hr_content {
		width: 100%;
	}
	
}
@media only screen and (max-width:300px){
	.images_conten {
		width: 300px;
	}
	.textare_content textarea {
		width:300px
	}
	.images_conten {
		width: 300px;
	}
	.hr_content {
		width: 100%;
	}
}